body {
	font-family: "Times New Roman", serif;
	background: #fff;
	padding: 4px;
	margin: 0;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 16px;
}

[data-tab-content] {
	display: none;
}

.active[data-tab-content] {
	display: block;
}

.tabs {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 4px solid #333;
}
.tab {
	cursor: pointer;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 8px;
}

.tab.active {
	background-color: #ccc;
}
.tab:hover {
	background-color: #aaa;
}

.logbook-container {
	max-width: 100%;
	margin: auto;
	padding: 12px;
	border: 2px solid black;
}

.logbook-title {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

table.logbook-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 13px;
}

.logbook-table th,
.logbook-table td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}
.logbook-table td {
	height: 18px;
}

.logbook-table input {
	width: 100%;
	border: none;
	text-align: center;
	font-family: inherit;
	font-size: 12px;
	background: transparent;
}

.logbook-table .sub {
	font-size: 10px;
	font-style: italic;
}
.min-w-2 {
	min-width: 2rem;
}
.min-w-4 {
	min-width: 4rem;
}
.min-w-7 {
	min-width: 7rem;
}

.logbook-footer {
	margin-top: 20px;
	text-align: center;
}

.logbook-footer button {
	background: #333;
	color: white;
	border: none;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
}

.logbook-footer button:hover {
	background: #555;
}

.radars-container {
	display: flex;
	gap: 24px;
	width: 100%;
	justify-content: center;

	h3 {
		text-align: center;
	}
}

h2 {
	text-align: center;
}
.flex-container-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
